# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
*.egg-info/
dist/
build/
.pytest_cache/
*.sqlite3

# Django
staticfiles/
media/
db.sqlite3

# Node
node_modules/
frontend/dist/
frontend/.env

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.claude/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
